/*Кнопки удаления, добавления и переименования*/
#button-edit, #button-add, #button-delete, 
#button-play, #button-right, #button-left, 
#button-loop, #button-pause, #button-full-screen,
.button-full-sound, .button-half-sound, .button-empty-sound{
	border:none;
	margin: 2px;
	background: url(buttons.png) no-repeat;
	cursor: pointer;
}

#button-edit{
	background-position: 0 -160px;
	width: 32px;
	height: 32px;
}

#button-add{
	background-position: -32px -64px;
	width: 32px;
	height: 32px;
}

#button-add:hover{
	background-position: 0 -64px;
	width: 32px;
	height: 32px;
}

#button-delete{
	background-position: 0 -128px;
	width: 32px;
	height: 32px;
}
/*Кнопки управления видео*/

#button-pause:hover{
background-position: -32px 0px;
width: 32px;
height: 32px;
}
#button-play{
background-position: 0 0;
width: 32px;
height: 32px;
}
#button-play:hover{
background-position: 0 -32px;
width: 32px;
height: 32px;
}
#button-right{
background-position: -128px 0;
width: 32px;
height: 32px;
}
#button-right:hover{
background-position: -128px -32px;
width: 32px;
height: 32px;
}
#button-left{
background-position: -96px 0;
width: 32px;
height: 32px;
}
#button-left:hover{
background-position: -96px -32px;
width: 32px;
height: 32px;
}
#button-loop{
background-position: -64px 0;
width: 32px;
height: 32px;
}
#button-loop:hover{
background-position: -64px -32px;
width: 32px;
height: 32px;
}
#button-pause{
background-position: -32px -32px;
width: 32px;
height: 32px;
}

#button-full-screen {
	background-position: -32px -128px;
	width: 32px;
	height: 32px;
	position: absolute;
	right:0;
}

#button-full-screen:hover {
	background-position: -64px -128px;
	width: 32px;
	height: 32px;
}

.button-full-sound {
	background-position: -64px -64px;
	width: 32px;
	height: 32px;
}

.button-full-sound:hover {
	background-position: -96px -64px;
	width: 32px;
	height: 32px;
}

.button-half-sound {
	background-position: 0 -96px;
	width: 32px;
	height: 32px;
}

.button-half-sound:hover {
	background-position: -32px -96px;
	width: 32px;
	height: 32px;
}

.button-empty-sound {
	background-position: -64px -96px;
	width: 32px;
	height: 32px;
}

.button-empty-sound:hover {
	background-position: -96px -96px;
	width: 32px;
	height: 32px;
}